<template>
  <section class="section section-light search">
    <div class="container">
      <h2 class="section__title search__title booking__title">Управление бронированием</h2>
      <div class="search-list">
        <div class="search__card booking-card">
          <span class="search__id">Код бронирования: {{ bookingData.code }}, <br class="flight-header__br">стоимость: {{ bookingData.cost }} руб.</span>
          <ul v-if="flightFrom" class="search__info">
            <li class="search__item flight-header col-1">
                            <span class="flight-header__text">
                                № рейса: {{ flightFrom.flight_id }}, <br class="flight-header__br">направление: туда
                            </span>
            </li>
            <li class="search__item col-1"><span class="params__name">Время в пути:</span> <i class="far fa-clock"></i>
              {{ flightFrom.duration }}</li>
            <li class="search__item col-1">
              <span class="params__name">Вылет:</span> <br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightFrom.from.city }} <br class="booking__br">
              <i class="fas fa-plane-departure"></i> {{ flightFrom.from.airport }} <br class="booking__br">
              <i class="far fa-calendar-alt"></i> {{ flightFrom.from.date }} <br class="booking__br">
              <i class="far fa-clock"></i> {{ flightFrom.from.time }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Прилет:</span> <br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightFrom.to.city }} <br class="booking__br">
              <i class="fas fa-plane-arrival"></i> {{ flightFrom.to.airport }} <br class="booking__br">
              <i class="far fa-calendar-alt"></i> {{ flightFrom.to.date }} <br class="booking__br">
              <i class="far fa-clock"></i> {{ flightFrom.to.time }} <br class="booking__br">
            </li>
          </ul>
          <ul v-if="flightBack" class="search__info">
            <li class="search__item flight-header col-1">
                            <span class="flight-header__text flight-header__text_to">
                                № рейса: {{ flightBack.flight_id }}, <br class="flight-header__br">направление: обратно
                            </span>
            </li>
            <li class="search__item col-1"><span class="params__name">Время в пути:</span> <i class="far fa-clock"></i>
              {{ flightBack.duration }}</li>
            <li class="search__item col-1">
              <span class="params__name">Вылет:</span> <br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightBack.from.city }} <br class="booking__br">
              <i class="fas fa-plane-departure"></i> {{ flightBack.from.airport }} <br class="booking__br">
              <i class="far fa-calendar-alt"></i> {{ flightBack.from.date }} <br class="booking__br">
              <i class="far fa-clock"></i> {{ flightBack.from.time }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Прилет:</span> <br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightBack.to.city }} <br class="booking__br">
              <i class="fas fa-plane-arrival"></i> {{ flightBack.to.airport }} <br class="booking__br">
              <i class="far fa-calendar-alt"></i> {{ flightBack.to.date }} <br class="booking__br">
              <i class="far fa-clock"></i> {{ flightBack.to.time }} <br class="booking__br">
            </li>
          </ul>
          <h3 class="section__title booking-passengers__title">Пассажиры</h3>
          <div class="booking-passengers">
            <div v-for="(passenger,i) in flightPassengers" :key="'pas'+i" class="booking-passengers__card col-3">
              <ul class="passenger-info">
                <li class="booking-passengers__item passenger-name"><i class="fas fa-user"></i> {{ passenger.first_name }} {{ passenger.last_name }}</li>
                <li class="booking-passengers__item">Дата рожд: {{ passenger.phone }}</li>
                <li class="booking-passengers__item">№ док: {{ passenger.document_number }}</li>
              </ul>
              <ul class="passenger-info passenger-info_place">
                <li class="text passenger-place__title">Места</li>
                <li class="booking-passengers__item booking-passengers__item_number">Туда: <span class="passenger-place__number-val">{{ passenger.place_from || 'не выбрано'}}</span></li>
                <li class="booking-passengers__item booking-passengers__item_number">Обратно: <span class="passenger-place__number-val">{{ passenger.place_back || 'не выбрано'}}</span></li>
              </ul>
            </div>
          </div>
          <div class="search__item search__btn-container">
            <router-link to="/seats" class="btn search__btn_list center booking-btn">Выбрать место</router-link>
          </div>
        </div>
        <router-link to="/profile" class="btn btn-login search__btn_list center booking-btn">Мои бронирования</router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      bookingCode: this.$parent.bookingCode,
      bookingData: [],
      flightFrom: null,
      flightBack: null,
      flightPassengers: null,
    }
  },

  mounted() {
    fetch(`${this.$parent.apiHost}/booking/${this.bookingCode}`)
      .then(response=> {
        response.json().then(json=> {
          this.bookingData=json.data;
          this.flightFrom=this.bookingData.flights[0];
          this.flightPassengers=this.bookingData.passengers;
          this.flightFrom.duration = this.$parent.getFlightDuration(this.flightFrom);
          if(this.bookingData.flights[1]) {
            this.flightBack=this.bookingData.flights[1];
            this.flightBack.duration = this.$parent.getFlightDuration(this.flightBack);
          }
        });
      });
  },
}
</script>

<style scoped>

</style>