<template>
  <main>
    <section id="search" class="section section-light search">
      <div class="container form-container">
        <h2 class="section__title section__title_form">Поиск билетов</h2>
        <form class="form form_multi-col search__form" method="post">
          <div @click.stop class="form__label col-2">
            <input type="text" class="input autocomplete-input" placeholder=" "
                   @input="getAirports(true)" @click.stop="showSelect('from')" v-model="form.airportFrom">
            <span class="input__name">Откуда</span>
            <span v-for="(error, i) in errors.from" :key="'to'+i" class="error-text">{{ error }}</span>
            <ul class="autocomplete-select__list" :class="{show: airportsListShow.from}">
              <li class="autocomplete-select__title">Найденные аэропорты</li>
              <li v-if="!airportsFrom.length" class="autocomplete-select__item autocomplete-select__item_empty">
                К сожалению, аэропорты не найдены
              </li>
              <li v-for="(airport, i) in airportsFrom" :key="'air-f'+i"
                  class="autocomplete-select__item" @click="selectAirport(i, true)">
                {{ airport.name }}
                <span class="airport-iata">{{ airport.iata }}</span>
              </li>
            </ul>
          </div>
          <div @click.stop class="form__label col-2">
            <input type="text" class="input autocomplete-input" placeholder=" "
                   @input="getAirports()" @click="showSelect('to')" v-model="form.airportTo">
            <span class="input__name">Куда</span>
            <span v-for="(error, i) in errors.to" :key="'to'+i" class="error-text">{{ error }}</span>
            <ul class="autocomplete-select__list" :class="{show: airportsListShow.to}">
              <li class="autocomplete-select__title">Найденные аэропорты</li>
              <li v-if="!airportsTo.length" class="autocomplete-select__item autocomplete-select__item_empty">
                К сожалению, аэропорты не найдены
              </li>
              <li v-for="(airport,i) in airportsTo" :key="'air-f'+i"
                  class="autocomplete-select__item" @click="selectAirport(i)">
                {{ airport.name }}
                <span class="airport-iata">{{ airport.iata }}</span>
              </li>
            </ul>
          </div>
          <label class="form__label col-2">
            <input type="date" class="input" v-model="form.dateFrom">
            <span class="input__name">Дата вылета туда</span>
            <span v-for="(error, i) in errors.date1" :key="'dfrom'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input type="date" class="input" v-model="form.dateTo">
            <span class="input__name">Дата вылета обратно</span>
            <span v-for="(error, i) in errors.date2" :key="'dto'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2 center">
            <span class="range__name">Количество пассажиров</span>
            <input list="users-count" type="range" min="1" max="8" value="1" class="input range"
                   v-model="form.passengers">
            <datalist class="range__list" id="users-count">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
              <option value="6"></option>
              <option value="7"></option>
              <option value="8"></option>
            </datalist>
          </label>
          <div class="col-1">
            <button @click.prevent="search" class="btn search__btn">Найти рейс</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      airportsFrom: [],
      airportsTo: [],
      form: this.$parent.forms.search,
      airportsListShow: {
        from: false,
        to: false
      },
      errors: []
    }
  },
  mounted() {
    document.addEventListener('click', this.clickOutside);
  },
  methods: {
    clickOutside() {
      this.airportsListShow.from = false;
      this.airportsListShow.to = false;
    },
    showSelect(direction) {
      this.airportsListShow.from = (direction === 'from');
      this.airportsListShow.to = (direction === 'to');
    },
    getAirports(fromDirection = false) {
      if (fromDirection && this.form.airportFrom.length === 0) {
        this.airportsFrom = [];
        return
      } else if (!fromDirection && this.form.airportTo.length === 0) {
        this.airportsTo = [];
        return
      }

      if (fromDirection) {
        fetch(`${this.$parent.apiHost}/airport?query=${this.form.airportFrom}`)
            .then(response => {
              response.json().then(json => this.airportsFrom = json.data.items);
            })
      } else {
        fetch(`${this.$parent.apiHost}/airport?query=${this.form.airportTo}`)
            .then(response => {
              response.json().then(json => this.airportsTo = json.data.items);
            })
      }
    },
    selectAirport(i, fromDirection) {
      if (fromDirection) {
        this.form.airportFrom = this.airportsFrom[i].iata;
      } else {
        this.form.airportTo = this.airportsTo[i].iata;
      }
      this.clickOutside();
    },
    search() {
      let $requestURL = `${this.$parent.apiHost}/flight?from=${this.form.airportFrom}&to=${this.form.airportTo}
      &date1=${this.form.dateFrom}&passengers=${this.form.passengers}`;
      if (this.form.dateTo) {
        $requestURL = `${$requestURL}&date2=${this.form.dateTo}`
      }
      fetch($requestURL)
          .then(response => {
            response.json().then(json => {
              if (response.status === 200) {
                this.$router.push('/search').catch(() => {});
                this.$parent.flights.from = json.data.flights_to;
                this.$parent.flights.to = json.data.flights_back;
              } else if (response.status === 422) {
                this.errors = json.error.errors;
              }
            })
          })
    }
  }
}
</script>
