<template>
  <main>
    <section class="section section-light search">
      <div class="container form-container">
        <h1 class="section__title section__title_form">Авторизация</h1>
        <form class="form form_multi-col search__form user-form" method="post">
          <label class="form__label col-2 phone__label">
            <input v-model="phone" type="tel" class="input test-1-fpn" placeholder=" ">
            <span class="input__name">Телефон</span>
            <span v-for="(error, i) in errors.phone" :key="'tel'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2 test-1-fps">
            <input v-model="password" type="password" class="input" placeholder=" ">
            <span class="input__name">Пароль</span>
            <span v-for="(error, i) in errors.password" :key="'pas'+i" class="error-text">{{ error }}</span>
          </label>
          <div v-if="authErr" class="error-text text-center col-1">
            {{ authErr }}
          </div>
          <div class="col-1">
            <button @click.prevent="login" class="btn search__btn btn_login test-1-fbs col-2">Войти</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</template>
<script>
export default {
  props: ['params'],
  data() {
    return {
      phone: '',
      password: '',
      errors: [],
      authErr: ''
    }
  },
  mounted() {
    if (this.$parent.authToken) {
      this.$router.replace('/profile')
    }
  },
  methods: {
    login() {
      fetch(`${this.$parent.apiHost}/login`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'phone': this.phone,
          'password': this.password
        })
      })
          .then(response => {
            response.json().then(json => {
              if (response.status === 200) {
                localStorage.setItem('authToken', json.data.token);
                this.$parent.authToken = localStorage.getItem('authToken');
                this.$router.push('/profile');
              } else if (response.status === 422) {
                this.authErr='';
                this.errors = json.error.errors;
              } else if (response.status === 401) {
                this.errors = [];
                this.authErr = json.error.errors.phone[0];
              }
            })
          });
    }
  }
}
</script>
