<template>
  <section class="section section-light search">
    <div class="container">
      <h2 class="section__title account__title">Личный кабинет</h2>
      <div class="account-info">
        <div class="account-info__group">
          <h1 class="account-info__title">{{ user.first_name }} {{user.last_name}}</h1>
          <p class="account-info__counter text">Количество полетов: {{pastBookings.length}}</p>
        </div>
        <p class="account-info__tel text col-1">Тел. {{ user.phone }}</p>
      </div>
      <ul class="search-list__tab">
        <li @click="showTab(0)" class="tab__item col-1" :class="{active: activeTabs[0]}">
          Избранные
        </li>
        <li @click="showTab(1)" class="tab__item col-1" :class="{active: activeTabs[1]}">
          Предстоящие
        </li>
        <li @click="showTab(2)" class="tab__item col-1" :class="{active: activeTabs[2]}">
          Прошедшие
        </li>
      </ul>
      <div class="tab__content">
        <div v-if="activeTabs[0]" class="search-list">
          <div class="search__card booking-card" v-for="(booking,i) in favoriteBookings" :key="'fbook'+i">
            <ul v-for="(flight,j) in booking.flights" :key="'ffl'+j" class="search__info">
              <li class="search__item flight-header col-1">
                            <span v-if="j==0" class="flight-header__text">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: туда
                            </span>
                <span v-else class="flight-header__text flight-header__text_to">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: обратно
                            </span>
              </li>
              <li class="search__item col-1">
                <span class="params__name">Вылет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.from.city }} <br class="booking__br">
                <i class="fas fa-plane-departure"></i> {{ flight.from.airport }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.from.time }}
              </li>
              <li class="search__item col-1">
                <span class="params__name">Прилет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.to.city }} <br class="booking__br">
                <i class="fas fa-plane-arrival"></i> {{ flight.to.airport }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.to.time }} <br class="booking__br">
              </li>
            </ul>
            <div class="search__item search__btn-container">
              <button @click="bookingPrepare(booking)" class="btn search__btn_list center booking-btn col-2">Забронировать сейчас</button>
              <button @click="deleteFromFavorite(booking.code)" class="btn search__btn_list center booking-btn delete-btn col-2">Удалить из избранного</button>
            </div>
          </div>
        </div>
        <div v-if="activeTabs[1]" class="search-list">
          <h2 class="section__title booking__title"></h2>
          <div class="search__card booking-card" v-for="(booking,i) in futureBookings" :key="'fbook'+i">
            <span class="search__id" style="cursor: pointer" @click="showBooking(booking.code)">Код бронирования: {{ booking.code }}</span>
            <!--<span class="search__booking-cost">1</span>-->
            <ul v-for="(flight,j) in booking.flights" :key="'ffl'+j" class="search__info">
              <li class="search__item flight-header col-1">
                            <span v-if="j==0" class="flight-header__text">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: туда
                            </span>
                <span v-else class="flight-header__text flight-header__text_to">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: обратно
                            </span>
              </li>
              <li class="search__item col-1">
                <span class="params__name">Вылет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.from.city }} <br class="booking__br">
                <i class="fas fa-plane-departure"></i> {{ flight.from.airport }} <br class="booking__br">
                <i class="far fa-calendar-alt"></i> {{ flight.from.date }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.from.time }}
              </li>
              <li class="search__item col-1">
                <span class="params__name">Прилет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.to.city }} <br class="booking__br">
                <i class="fas fa-plane-arrival"></i> {{ flight.to.airport }} <br class="booking__br">
                <i class="far fa-calendar-alt"></i> {{ flight.to.date }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.to.time }} <br class="booking__br">
              </li>
            </ul>
          </div>
        </div>
        <div v-if="activeTabs[2]" class="search-list">
          <div class="search__card booking-card" v-for="(booking,i) in pastBookings" :key="'pbook'+i">
            <!--<span class="search__booking-cost">1</span>-->
            <ul v-for="(flight,j) in booking.flights" :key="'pfl'+j" class="search__info">
              <li class="search__item flight-header col-1">
                            <span v-if="j==0" class="flight-header__text">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: туда
                            </span>
                <span v-else class="flight-header__text flight-header__text_to">
                                № рейса: {{ flight.flight_id }}, <br class="flight-header__br">направление: обратно
                            </span>
              </li>
              <li class="search__item col-1">
                <span class="params__name">Вылет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.from.city }} <br class="booking__br">
                <i class="fas fa-plane-departure"></i> {{ flight.from.airport }} <br class="booking__br">
                <i class="far fa-calendar-alt"></i> {{ flight.from.date }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.from.time }}
              </li>
              <li class="search__item col-1">
                <span class="params__name">Прилет:</span> <br class="booking__br">
                <i class="fas fa-map-marker-alt"></i> {{ flight.to.city }} <br class="booking__br">
                <i class="fas fa-plane-arrival"></i> {{ flight.to.airport }} <br class="booking__br">
                <i class="far fa-calendar-alt"></i> {{ flight.to.date }} <br class="booking__br">
                <i class="far fa-clock"></i> {{ flight.to.time }} <br class="booking__br">
              </li>
            </ul>
            <div class="search__item search__btn-container">
              <button v-if="favoriteCodes.includes(booking.code)" class="btn search__btn_list center booking-btn pick-btn active">Уже в избранном</button>
              <button v-else @click="addToFavorite(booking.code)" class="btn search__btn_list center booking-btn pick-btn">Добавить в избранное</button>
            </div>
          </div>
        </div>
      </div>
      <div class="search-list">
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ['params'],
  data() {
    return {
      user: this.$parent.user,
      activeTabs:[true,false,false],
      authHeaders: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${this.$parent.authToken}`
      },
      bookingsItems: [],
      favoriteCodes:[],
      bookingFlights: this.$parent.bookingFlights
    }
  },
  computed: {
    favoriteBookings() {
      return this.bookingsItems.filter((booking)=> {
        return this.favoriteCodes.includes(booking.code);
      })
    },
    pastBookings() {
      return this.bookingsItems.filter(function (booking) {
        let flightTime = null;
        if(booking.flights[1]) {
          let flightFinish = booking.flights[1].to;
          flightTime = new Date(`${flightFinish.date} ${flightFinish.time}`);
        } else {
          let flightFinish = booking.flights[0].to;
          flightTime = new Date(`${flightFinish.date} ${flightFinish.time}`);
        }
        return (+flightTime - Date.now()) < 0;
      });
    },
    futureBookings() {
      return this.bookingsItems.filter(function (booking) {
        let flightTime = booking.flights[0].from;
        flightTime = new Date(`${flightTime.date} ${flightTime.time}`);
        return (+flightTime - Date.now()) > 0;
      });
    }
  },
  beforeMount() {
    if (!this.$parent.authToken) {
      this.$router.replace('/login')
    }
    fetch(`${this.$parent.apiHost}/user`, {
      headers: this.authHeaders
    }).then(response=> {
      if(response.status === 200) {
        response.json().then(json=> {
          this.user = json;
        })
      }
    });

    fetch(`${this.$parent.apiHost}/user/booking`,{
      headers: this.authHeaders
    }).then(response=> {
      response.json().then(json=> {
        this.bookingsItems=json;
      });
    });
    this.favoriteCodes = JSON.parse(localStorage.getItem('favoriteCodes')) ?? [];
  },
  methods: {
    showTab(i) {
      this.$set(this.activeTabs, this.activeTabs.indexOf(true), false);
      this.$set(this.activeTabs, i, true);
    },
    addToFavorite(code) {
      this.favoriteCodes.push(code);
      localStorage.setItem('favoriteCodes',JSON.stringify(this.favoriteCodes));
    },
    deleteFromFavorite(code) {
      this.favoriteCodes.splice(this.favoriteCodes.indexOf(code),1);
      localStorage.setItem('favoriteCodes',JSON.stringify(this.favoriteCodes));
    },
    bookingPrepare(booking) {
      this.bookingFlights.from = booking.flights[0];
      this.bookingFlights.back = booking.flights[1];
      this.bookingFlights.fromFavorite = true;
      this.$router.push('/bookingCreate');
    },
    showBooking(bookingCode) {
      this.$parent.bookingCode = bookingCode;
      this.$router.push('/bookingManagement');
    }
  }
}
</script>
