<template>
  <main>
    <div class="section section-light search">
      <div class="container form-container">
        <h1 class="section__title section__title_form">Регистрация</h1>
        <form class="form form_multi-col search__form" method="post">
          <label class="form__label col-2">
            <input v-model="firstName" type="text" class="input test-2-name" placeholder=" ">
            <span class="input__name">Имя</span>
            <span v-for="(error, i) in errors.first_name" :key="'fn'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input v-model="lastName" type="text" class="input test-2-last" placeholder=" ">
            <span class="input__name">Фамилия</span>
            <span v-for="(error, i) in errors.last_name" :key="'ln'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input v-model="doc" type="number" class="input test-2-name" placeholder=" ">
            <span class="input__name">Номер документа</span>
            <span v-for="(error, i) in errors.document_number" :key="'doc'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2 phone__label">
            <input v-model="phone" type="tel" class="input test-2-last" placeholder=" ">
            <span class="input__name">Телефон</span>
            <span v-for="(error, i) in errors.phone" :key="'phone'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input v-model="pas" type="password" class="input test-2-name" placeholder=" ">
            <span class="input__name">Пароль</span>
            <span v-for="(error, i) in errors.password" :key="'pas'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input v-model="pasConfirm" type="password" class="input test-2-last" placeholder=" ">
            <span class="input__name">Повторите пароль</span>
            <span v-if="!passwordConfirmed && validAccept" class="error-text">Пароли не совпадают</span>
          </label>
          <div class="col-1">
            <button @click.prevent="register" class="btn search__btn btn_login">Регистрация</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
  export default {
    props: ['params'],
    data() {
      return {
        firstName:'',
        lastName: '',
        phone: '',
        doc: '',
        pas: '',
        pasConfirm:'',
        validAccept: false,
        errors: []
      }
    },
    mounted() {
      if(this.$parent.authToken) {
        this.$router.replace('/profile')
      }
    },
    computed: {
      passwordConfirmed() {
        return this.pas === this.pasConfirm
      }
    },
    methods: {
      register() {
        let userInfo = {
          'first_name': this.firstName,
          'last_name': this.lastName,
          'phone': this.phone,
          'document_number': this.doc,
          'password': this.pas,
        };
        this.validAccept=true;

        if(this.passwordConfirmed) {
          fetch(`${this.$parent.apiHost}/register`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(userInfo)
          })
              .then(response=> {
                if(response.status===422) {
                  response.json().then(json=> {
                    this.errors = json.error.errors
                  })
                } else if(response.status === 204) {
                  fetch(`${this.$parent.apiHost}/login`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      'phone': this.phone,
                      'password': this.pas
                    })
                  })
                      .then(authResponse=> {
                        authResponse.json().then(json => {
                          if(authResponse.status === 200) {
                            localStorage.setItem('authToken', json.data.token);
                            this.$parent.authToken = localStorage.getItem('authToken');
                            this.$router.push('/profile');
                          }
                        })
                      });
                }
              })
        }
      }
    }
  }
</script>
