<template>
  <section class="section section-light search">
    <div class="container">
      <h2 class="section__title search__title">Поиск рейсов: {{ flightsFrom[0].from.airport }}-{{
          flightsFrom[0].to.airport
        }}</h2>
      <p class="text not-found" v-if="!flightsBack.length && !flightsFrom.length">Рейсы не найдены</p>
      <template v-else>
        <ul class="search-list__tab">
          <li @click="showTab(0)" class="tab__item col-1" :class="{active: activeTabs[0]}">
            Туда
          </li>
          <li @click="showTab(1)" v-if="flightsBack.length" class="tab__item col-1" :class="{active: activeTabs[1]}">
            Обратно
          </li>
        </ul>
        <div class="tab__content">
          <div v-if="activeTabs[0]" class="search-list">
            <div class="row filters">
              <div class="col-2">
                <button class="btn search__btn btn_login test-1-fbs" @click="sortFlights('S', flightsFrom)">
                  Самый быстрый
                </button>
              </div>
              <div class="col-2">
                <button class="btn search__btn btn_login test-1-fbs" @click="sortFlights('C', flightsFrom)">
                  Самый дешевый
                </button>
              </div>
            </div>
            <h3 class="filters__title">Время вылета</h3>
            <div class="row filters">
              <label class="form__label col-2">
                <input type="time" class="input" v-model="flightTimeFilters.from.start">
                <span class="input__name">От</span>
              </label>
              <label class="form__label col-2">
                <input type="time" class="input" v-model="flightTimeFilters.from.end">
                <span class="input__name">До</span>
              </label>
            </div>

            <p v-if="!flightsFrom.length" class="text not-found">По вашему запросу рейсы не найдены</p>
            <div v-for="(flight, i) in filteredFrom" :key="'fl-fr'+i" class="search__card">
              <span class="search__id">№ рейса: {{ flight.flight_id }}</span>
              <ul class="search__info">
                <li class="search__item"><span class="params__name">Код рейса:</span> {{ flight.flight_code }}</li>
                <li class="search__item">
                  <span class="params__name">Вылет:</span> <i class="far fa-calendar-alt"></i> {{ flight.from.date }}
                  <i class="far fa-clock"></i> {{ flight.from.time }}
                </li>
                <li class="search__item"><span class="params__name">Прилет:</span> <i class="far fa-clock"></i>
                  {{ flight.to.time }}
                </li>
                <li class="search__item"><span class="params__name">Время в пути:</span> <i class="far fa-clock"></i>
                  {{ flight.duration }}
                </li>
                <li class="search__item search__item_final-cost param-cost">
                  <span class="params__name">Итоговая стоимость:</span> {{ flight.totalCost }} &#x20BD;
                </li>
                <li class="search__item search__btn-container">
                  <button v-if="pickedFlights.from === flight.flight_code" @click.prevent="pickFlight(flight.flight_code)"
                          class="btn search__btn_list pick-btn active">Рейс выбран
                  </button>
                  <button v-else @click.prevent="pickFlight(flight.flight_code)" class="btn search__btn_list pick-btn">Выбрать рейс
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div v-if="activeTabs[1]" class="search-list">
            <div class="row filters">
              <div class="col-2">
                <button class="btn search__btn btn_login test-1-fbs" @click="sortFlights('S', flightsBack)">Самый
                  быстрый
                </button>
              </div>
              <div class="col-2">
                <button class="btn search__btn btn_login test-1-fbs" @click="sortFlights('C', flightsBack)">Самый
                  дешевый
                </button>
              </div>
            </div>
            <h3 class="filters__title">Время вылета</h3>
            <div class="row filters">
              <label class="form__label col-2">
                <input type="time" class="input">
                <span class="input__name">От</span>
              </label>
              <label class="form__label col-2">
                <input type="time" class="input">
                <span class="input__name">До</span>
              </label>
            </div>
            <p v-if="!flightsBack.length" class="text not-found">По вашему запросу рейсы не найдены</p>
            <div v-for="(flight, i) in flightsBack" :key="'fl-fr'+i" class="search__card">
              <span class="search__id">№ рейса: {{ flight.flight_id }}</span>
              <ul class="search__info">
                <li class="search__item"><span class="params__name">Код рейса:</span> {{ flight.flight_code }}</li>
                <li class="search__item">
                  <span class="params__name">Вылет:</span> <i class="far fa-calendar-alt"></i> {{ flight.from.date }}
                  <i class="far fa-clock"></i> {{ flight.from.time }}
                </li>
                <li class="search__item"><span class="params__name">Прилет:</span> <i class="far fa-clock"></i>
                  {{ flight.to.time }}
                </li>
                <li class="search__item"><span class="params__name">Время в пути:</span> <i class="far fa-clock"></i>
                  {{ flight.duration }}
                </li>
                <li class="search__item search__item_final-cost param-cost">
                  <span class="params__name">Итоговая стоимость:</span> {{ flight.totalCost }} &#x20BD;
                </li>
                <div class="search__item search__btn-container">
                  <button v-if="pickedFlights.to === flight.flight_code" @click.prevent="pickFlight(flight.flight_code,true)"
                          class="btn search__btn_list pick-btn active">Рейс выбран
                  </button>
                  <button v-else @click.prevent="pickFlight(flight.flight_code,true)" class="btn search__btn_list pick-btn">Выбрать
                    рейс
                  </button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </template>
      <div class="col-1" v-if="flightsFrom.length">
        <button @click.prevent="goToBooking()" class="btn search__btn btn_login test-1-fbs col-2" :disabled="!canBooking">Перейти к бронированию</button>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      search: this.$parent.forms.search,
      flightsFrom: this.$parent.flights.from,
      flightsBack: this.$parent.flights.to,
      activeTabs: [true, false],
      pickedFlights: {
        from: null,
        to: null
      },
      bookingFlights: this.$parent.bookingFlights,
      flightTimeFilters: {
        from: {
          start: null,
          end: null
        },
        to: {
          start: null,
          end: null
        }
      }
    }
  },
  created() {
    this.flightsFrom.forEach((el, i) => {
      this.flightsFrom[i].duration = this.$parent.getFlightDuration(el);
      this.flightsFrom[i].totalCost = this.getFlightTotalCost(el);
    });
    this.flightsBack.forEach((el, i) => {
      this.flightsBack[i].duration = this.$parent.getFlightDuration(el);
      this.flightsBack[i].totalCost = this.getFlightTotalCost(el);
    });
  },
  computed: {
    canBooking() {
      if(this.flightsBack.length) {
        return (this.pickedFlights.from !== null && this.pickedFlights.to !== null);
      } else {
        return this.pickedFlights.from !== null;
      }
    },
    filteredFrom() {
      if(this.flightTimeFilters.from.start && this.flightTimeFilters.from.end) {
        return this.flightsFrom.filter((el) => {
          let startTime=new Date(`2020-01-01 ${this.flightTimeFilters.from.start}`);
          let endTime=new Date(`2020-01-01 ${this.flightTimeFilters.from.end}`);
          let flightStartTime=new Date(`2020-01-01 ${el.from.time}`);
          return +flightStartTime>=+startTime && +flightStartTime<=+endTime;
        });
      } else {
        return this.flightsFrom;
      }
    }
  },
  methods: {
    getFlightTotalCost(flight) {
      return flight.cost * this.search.passengers
    },
    showTab(i) {
      this.$set(this.activeTabs, this.activeTabs.indexOf(true), false);
      this.$set(this.activeTabs, i, true);
    },
    pickFlight(flightCode, backDirection) {
      if (backDirection) {
        this.pickedFlights.to = this.pickedFlights.to === null ? flightCode :
            this.pickedFlights.to === flightCode ? null : flightCode;
      } else {
        this.pickedFlights.from = this.pickedFlights.from === null ? flightCode :
            this.pickedFlights.from === flightCode ? null : flightCode;
      }
    },
    sortFlights(filterFlag, sortArr) {
      sortArr.sort(function (a, b) {
        let result = 0;
        if (filterFlag === 'S') {
          let aDT = new Date(`2020-01-01 ${a.duration}`);
          let bDT = new Date(`2020-01-01 ${b.duration}`);
          result = aDT.getTime() - bDT.getTime();
        } else {
          result = a['totalCost'] - b['totalCost']
        }
        return result;
      });
    },
    goToBooking() {
      this.flightsFrom.forEach(el=> {
        if(el.flight_code === this.pickedFlights.from) {
          this.bookingFlights.from = el;
        }
      });
      this.flightsBack.forEach(el=> {
        if(el.flight_code === this.pickedFlights.to) {
          this.bookingFlights.back = el;
        }
      });
      this.bookingFlights.fromFavorite = false;
      this.$router.push('/bookingCreate');
    }
  }
}
</script>
