<template>
  <section class="section section-light search">
    <div class="container seats-container">
      <h2 class="section__title search__title">Выбор мест</h2>
      <div class="flight-header__text" @click="changeDirection" :class="{back:direction.statusBack}">
        <span class="flight-seats__text">Направление: {{ direction.text }}</span>
      </div>
      <div class="place" :class="{back:direction.statusBack}">
        <div class="place__list" v-for="(row, key) in resultPlaces" :key="'row'+key">
          <span class="place__list-row">{{ key }}</span>
          <label v-for="item in row" :key="'place'+item.place" :for="item.place" class="place__item">
            <input type="radio" name="place" class="place__check"
                   :value="item.place" :id="item.place"
                   :checked="getCheck(item.place)"
                   :disabled="getOccupied(item.place) || !selectedPassenger"
                   @click="selectPlace(item)">
            <span class="place__check-indicator" :class="{occupied:getOccupied(item.place)}"></span>
          </label>
        </div>
      </div>
      <h3 class="section__title booking-passengers__title">Пассажиры</h3>
      <div class="passengers_seats">
        <div class="booking-passengers__card" v-for="(passenger, i) in flightPassengers" :key="'pas'+i">
          <input type="radio" name="passenger" class="place__check"
                 :id="passenger.id" :value="passenger" v-model="selectedPassenger">
          <label class="passenger-info passengers-label" :for="passenger.id">
            <span class="booking-passengers__item passenger-name"><i class="fas fa-user"></i>
              {{ passenger.first_name }} {{ passenger.last_name }}</span>
            <span class="booking-passengers__item">
              Туда: <span v-if="passenger.place_from"
                          class="passenger-place__number-val">{{ passenger.place_from }}</span>
              <span v-else class="passenger-place__number-val">не выбрано</span>
            </span>
            <span v-if="withBack" class="booking-passengers__item">
              Обратно: <span v-if="passenger.place_back"
                             class="passenger-place__number-val">{{ passenger.place_back }}</span>
              <span v-else class="passenger-place__number-val">не выбрано</span>
            </span>
          </label>
        </div>
      </div>
      <div class="col-1">
        <button @click="savePlaces" class="btn search__btn">Сохранить</button>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      bookingCode: this.$parent.bookingCode,
      flightPassengers: null,
      seatsRows: ['A', 'B', 'C', 'D'],
      rowSize: 12,
      resultPlaces: {},
      direction: {
        statusBack: false,
        text: 'туда'
      },
      selectedPlace: null,
      selectedPassenger: null,
      withBack: false
    }
  },
  mounted() {
    fetch(`${this.$parent.apiHost}/booking/${this.bookingCode}`)
        .then(response => {
          response.json().then(json => {
            this.flightPassengers = json.data.passengers;
            this.withBack = json.data.flights.length > 1;
          })
        });
    for (let row of this.seatsRows) {
      this.$set(this.resultPlaces, row, {});
      for (let j = 1; j <= this.rowSize; j++) {
        this.$set(this.resultPlaces[row], j, {
          place: `${row}${j}`,
          occupiedFrom: false,
          occupiedBack: false
        });
      }
    }
  },
  methods: {
    changeDirection() {
      if (this.withBack) {
        this.direction.statusBack = !this.direction.statusBack;
        setTimeout(() => {
          this.direction.text = this.direction.statusBack ? 'обратно' : 'туда';
        }, 125)
      }
    },
    selectPlace(item) {
      if (this.selectedPassenger) {
        if (this.direction.statusBack) {
          this.selectedPassenger.place_back = item.place;
          item.occupiedBack = this.selectedPassenger.id;
        } else {
          this.selectedPassenger.place_from = item.place;
          item.occupiedFrom = this.selectedPassenger.id;
        }
      }
    },
    getCheck(place) {
      if (this.selectedPassenger) {
        if (this.direction.statusBack) {
          return this.selectedPassenger.place_back === place;
        } else {
          return this.selectedPassenger.place_from === place;
        }
      }
    },
    getOccupied(place) {
      if (!this.getCheck(place) && this.flightPassengers) {
        for (let el of this.flightPassengers) {
          if ((this.direction.statusBack && el.place_back === place)
              || (!this.direction.statusBack && el.place_from === place)) {
            return true;
          }
        }
      }
    },
    async savePlacesRequest(directionBack) {
      let occupiedSeats=[];
      this.flightPassengers.forEach(el => {
        let data = {
          'passenger': el.id,
          'seat': directionBack ? el.place_back : el.place_from,
          'type': directionBack ? 'back' : 'from'
        };
        fetch(`${this.$parent.apiHost}/booking/${this.$parent.bookingCode}/seat`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(response => {
          if (response.status === 422) {
            occupiedSeats.push({
              'seat': directionBack ? el.place_back : el.place_from,
              'type': directionBack ? 'back' : 'from'
            });
          }
        })
      });
        return occupiedSeats.length===0;
    },
    savePlaces() {
      this.savePlacesRequest().then(successFrom=> {
        if(successFrom) {
          if(this.withBack) {
            this.savePlacesRequest(true).then(successBack=> {
              if(successBack) {
                  this.$router.push('/bookingManagement');
              }
            });
          } else {
            this.$router.push('/bookingManagement');
          }
        }
      })
    }
  }
}
</script>
<style scoped>
.passenger-info {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.booking-passengers__item {
  margin: 0 15px 0 0;
}

.passengers-label {
  cursor: pointer;
}

.booking-passengers__card {
  padding: 0;
}

.passengers-label {
  padding: 15px;
  width: 100%;
}

.place__check:checked + .passengers-label {
  box-shadow: 0 0 8px #ff8c00;
}

.seats-container {
  perspective-origin: center;
  perspective: 1000px;
}

.flight-header__text {
  height: 45px;
  margin-bottom: 20px;
  font-size: 28px;
  cursor: pointer;
}

.flight-header__text, .place {
  transform-origin: center;
  transform: rotateY(0deg);
  transition: .4s ease-in-out;
}

.flight-header__text.back, .place.back {
  transform: rotateY(180deg);
}

.flight-seats__text, .place .place__list-row {
  display: block;
  transition-delay: .2s;
}

.place.back .place__list-row {
  border-right: none;
  border-left: 2px solid #000481;
}

.flight-header__text.back .flight-seats__text, .place.back .place__list-row {
  transform: scale(-1, 1);
}

.place__check-indicator:before {
  transition-delay: .2s;
}

.place__check-indicator.occupied:before {
  transform: scale(2);
  background: red;
}
</style>