<template>
  <footer class="footer">
    <div class="container footer__container">
      <div class="row footer__header">
        <div class="footer__header-container">
          <div class="logo footer-logo">
            <div class="logo__text logo__text_footer test-0-logo">
              <a class="logo__link_home" href="/">
                FlightPool
              </a>
            </div>
          </div>
          <div class="phone"><i class="fas fa-phone phone__icon"></i>8 (800) 100-10-10</div>
        </div>
        <nav class="nav nav_footer">
          <ul class="nav__list nav__list_footer">
            <li class="nav__item nav__item_footer"><a href="login"
                                                      class="nav__link nav__link_footer">Вход</a></li>
            <li class="nav__item nav__item_footer"><a href="signup" class="nav__link nav__link_footer">Регистрация</a></li>
            <li class="nav__item nav__item_footer"><a href="contact" class="nav__link nav__link_footer">Контакты</a>
            </li>
            <li class="nav__item nav__item_footer"><a href="news"
                                                      class="nav__link nav__link_footer">Новости</a></li>
            <li class="nav__item nav__item_footer"><a href="return" class="nav__link nav__link_footer">О нас</a>
            </li>
            <li class="nav__item nav__item_footer"><a href="feedback" class="nav__link nav__link_footer">Обратная связь</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</template>