<template>
  <header class="header">
    <div class="logo header-logo">
      <img src="./../assets/img/logo.png" alt="logo" class="logo__icon"/>
      <div class="logo__text test-0-logo">
        <router-link to="/" class="logo__link_home" href="/">
          FlightPool
        </router-link>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <template v-if="$parent.authToken">
          <li class="nav__item"><router-link to="/profile" class="nav__link btn-login btn header__btn test-0-nav-4">Личный кабинет</router-link></li>
          <li class="nav__item" @click="logout"><a href="#" class="nav__link btn header__btn test-0-nav-4">Выход</a></li>
        </template>
        <template v-else>
          <li class="nav__item "><router-link to="/login" class="nav__link btn btn-login header__btn">Вход</router-link></li>
          <li class="nav__item "><router-link to="/register" class="nav__link btn header__btn">Регистрация</router-link></li>
        </template>
      </ul>
    </nav>
    <button class="nav-toggle">
      <span class="nav-toggle__icon"></span>
    </button>
  </header>
</template>