<template>
  <div id="app">
   <div class="page">
     <app-header></app-header>
     <router-view/>
     <app-footer></app-footer>
   </div>
  </div>
</template>

<style>
@import "./assets/css/style.css";
</style>
<script>
import './assets/js/script';
import AppHeader from '@/components/Header'
import AppFooter from '@/components/Footer'
export default {
  name: 'App',
  components: {
    AppHeader,
    AppFooter
  },
  data() {
    return {
      apiHost: 'http://l91287uv.beget.tech/api',
      forms: {
        search: {
          airportFrom: '',
          airportTo: '',
          dateFrom: '',
          dateTo: '',
          passengers: 1
        }
      },
      user: [],
      flights: {
        from:[],
        to:[]
      },
      bookingFlights: {
        from: null,
        back: null,
        fromFavorite: false
      },
      bookingCode:null,
      authToken: localStorage.getItem('authToken'),
    }
  },
  methods: {
    logout() {
      localStorage.removeItem('authToken');
      this.authToken = localStorage.getItem('authToken');
      this.$router.push('/');
    },
    getFlightDuration(flight) {
      let startDate = new Date(`2020-01-01 ${flight.from.time}`);
      let endDate = new Date(`2020-01-01 ${flight.to.time}`);
      let duration = new Date(endDate.getTime() - startDate.getTime());

      let hours = duration.getHours() - 4;
      let minutes = duration.getMinutes();

      if (minutes < 10) minutes = `0${minutes}`;

      duration = `${hours}:${minutes}`;
      return duration;
    },
  }
}
</script>